<template name="ItemCreator">
  <div class="item-creator">
    <form class="item-template">
      <input type="text" value="Title"/>
      <!--Here you insert ability to add photo/take photo, later use -->
      <input type="text" value="description"/><!--Use CSS to make large -->
      <input type="text" value="tags"/> <!-- How can you make this single words? -->
      <input type="checkbox" name="yes-event" value="Event?"/>
      <input type="submit" name="post" value="post"/>
    </form>
  </div>
</template>
